.cart {
    cursor: pointer;
    font-size: 20px;
}

.heart {
    color: red;
    cursor: pointer;
    font-size: 20px;
}

.textarea {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.edit{
    cursor: pointer;
    font-size: 20px;
    color: blue;
}

.delete {
    cursor: pointer;
    font-size: 20px;
    color: red;
}